@model MvcMovie.Models.QuestionModel
<h2>@Model.Question</h2>
    <ul style="list-style-type:none">
        @{
            foreach (var answer in Model.Answers)
            {
                <li><input type="checkbox" /> @answer.Answer</li>
            }
        }
    </ul>


@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Welcome" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Question" class="control-label"></label>
                    <input asp-for="Question" class="form-control" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@